/* header */
.header {
  height: fit-content;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    padding: 10px;
    background: -webkit-linear-gradient(#CFFF75, #A9A6FF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}


/* icons are overlapping, cant separate them or identify each one individually to change right position 
tried ul and li and flex box */
ion-icon {
    color: #A9A6FF;
    position: absolute;
    /* display: flex;
    justify-content: flex-end; */
    top: 8px;
    right: 16px;
  }

  ion-icon:hover{
  color: #DAFFEC;
  }


/* interactive visual element will go in here with Get Virtually Near title and buttons to other pages*/
.homepage-interactive-block {
    /* height: 65vh; */
    height: 650px;
    position: relative;
}

.homepage-interactive-block embed {
    width: 100%;
    height: 650px;
    position: absolute;
}

/* wont vertically align to centre */
.homepage-interactive-block container {
    position: relative;
    text-align: center;
    top: 160px;
    
    /* position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; */
} 


.homepage-interactive-block container h2 {
    font-size: 2.5rem;
    padding: 50px;
    color: #DAFFEC;
}

/* buttons */
.homepage-interactive-block container .page-buttons .btn {
    margin: 1rem;
    padding: 10px 15px;
}


/* emojis over buttons */

/* intro info text about site section */
.intro-text {
    display: block;
    padding: 5rem 4rem;
    font-weight: bold;
    text-align: center;
}

/* 
 * Animation module with all animation code doesn't work 
 looks like js file isnt linking
 https://codepen.io/hendrysadrak/pen/VLMOMJ
 */ 
 /* .anim-text-flow,
 .anim-text-flow-hover:hover { */
   /*
    * Animation variables
    */
   /* $animationSteps: 20;
   $animationDuration: 50;
   $animationElement: span;
   $animationElementsCount: 100;
   $delayBetweenLetters: 0.2;
  */
   /*
    * Elements settings
    */
   /* #{$animationElement} {
     animation-name: anim-text-flow-keys;
     animation-duration: #{$animationDuration}s;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-fill-mode: forwards;
   } */
 
   /*
    * Keyframe loop
    */
   /* @keyframes anim-text-flow-keys {
     @for $i from 0 through $animationSteps {
       #{percentage($i * (1 / $animationSteps))} {
         color: hsla(random(365), 60, 60, 1);
       }
     }
   }
  */
   /*
    * Element animation delay loop
    */
   /* $totalDelayTime: $animationElementsCount * $delayBetweenLetters;
 
   @for $i from 1 through $animationElementsCount {
     #{$animationElement}:nth-of-type(#{$i}) {
       animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
     }
   }
 } */
 /* --------- end of animation ----------- */



/* contact us section */
.contact-us-block {
    padding: 5rem;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
    background-color: #DAFFEC;
    text-align: center;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 1rem 7px;
}

/* socials -- really distorted background circle eww */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px;
    border-radius: 50%;
    background: white;
    color: #DAFFEC;
  }

  .fa:hover {
      opacity: 0.7;
  }


/* footer */
footer {
    text-align: center;
    font-size: small;
    padding: 1rem;
}

/* CURSOR Start http://www.cursors-4u.com */ 
* {cursor: url(http://cur.cursors-4u.net/cursors/cur-1/cur8.ani), 
  url(http://cur.cursors-4u.net/cursors/cur-1/cur8.png), auto !important;} 
/* End http://www.cursors-4u.com */